@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    background-color: rgb(19, 17, 17);
    text-align: center;
    color: yellow;
    font-family: 'Poppins', sans-serif;
    background: url(background.jpg);
    background-size: cover;
}
.navtop:hover{
    font-size: bold;
    color: white;
    background-color: yellow;
    border-radius: 25%;
}
h1{
    color: yellow;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-style: oblique;
}
p{
    font-size: 2rem;
}
.animate{
    background: yellow;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: 0.2rem;
    padding: 1.2rem 2 rem 1.2rem;
    position: relative;
    vertical-align: top;
    margin-top: 100px;
}
.imground{
    border-radius: 50%;
}
.arrow{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow a{
  height: 39px;
  width: 37px;
  text-align: center;
  background: #1b1b1b;
  display: block;
  border-radius: 3px;
}
.arrow a span{
  color: #f2f2f2;
  font-size: 25px;
  line-height: 39px;
  cursor: pointer;
}
.container{
    min-height: 100vh;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.search{
    margin: 2rem 0;
}
.search cite{
    font-size: 2rem;
}
.searchbox{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    color: yellow;
}
.search-control,
.search-btn{
    width: 100%;
    color: rgb(114, 114, 20);
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid yellow;
    color: yellow;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: white;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}
.search-btn:hover{
    background: yellowgreen;
    cursor: pointer;
}
.fing:hover{
    cursor: pointer;
    color: yellowgreen;
}
table,tr,th,td{
    color: yellow;
    border:2px solid rgb(173, 165, 165);
    border-collapse: collapse;
    padding: 2rem;
    border-spacing: 2rem;
    text-align: center;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: rgb(143, 131, 131);
}
td{
    color: rgb(64, 27, 27);
    background-color: rgb(96, 93, 93);
}
a{
    color: rgb(147, 188, 14);
    text-decoration: dashed;
    font-weight: bold;
    margin: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 2rem;
}